*{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 20;
    margin: 10;
}
body{
    background-image:url("images/background1.jpg");
}
img{
padding: 10px 10px;
    width: 350px;
    height: auto;
}
footer{
    background-color: black;
    color: white;
    display: block;
    width: auto;
}
hr{
    color: white;
    width: auto;
}