*{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 20;
    margin: 5;
}

img{
padding: 0px ;
    width: 350px;
    height: auto;
}
body{
    background-image:url("recipes/images/background1.jpg");
}
main{
    background-color: white;
    display: block;
}

main li{
     list-style-type: none;
}
footer{
    border:2px solid yellow;
    color: black;
    width: auto;
}
hr{
    color: white;
    width: auto;
}
