*{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 20;
    margin: 5;
}

img{
padding: 10px 10px;
    width: 350px;
    height: auto;
}
main{
    background-image:url("recipes/images/background1.jpg");
}

main li{
    
    list-style-type: none;
}
footer{
    background-color: black;
    color: white;
    display: block;
    width: auto;
}
hr{
    color: white;
    width: auto;
}
