*{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 20;
    margin: 5;
}

img{
    width: 280px;
    height: auto;
    position: static;
}
body{
    background-image:url("recipes/images/background1.jpg");
}

main li{
     list-style-type: none;
}
footer{
    border:1px solid yellow;
    color: black;
    width: auto;
}
hr{
    color: white;
    width: auto;
}
